.skills-main-div {
  display: flex;
  flex-direction: column; /* Ensure content is stacked vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  overflow: hidden;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 20px;
}

.skills-text-div {
  font-family: "Google Sans Regular";
  text-align: center; /* Center text */
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
  margin-bottom: 20px; /* Space between heading and content */
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
  }
  .skills-header {
    font-size: 30px;
  }
  .skills-main-div {
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px;
  }
  .skills-text-div {
    margin-left: 0px;
    margin-right: 0px; /* Remove side margins */
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
