/* General styles for the skill section */
.dev-icons-languages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

/* Styling for individual skill icons */
.software-skill-inline-languages {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
  font-family: "Google Sans Regular";
  position: relative; /* Necessary for tooltip positioning */
  cursor: pointer; /* Indicate that the item is interactive */
}

/* Tooltip styles */
.software-skill-inline-languages::after {
  content: attr(data-name); /* Display skill name from data attribute */
  position: absolute;
  bottom: -25px; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Black background */
  color: white; /* White text */
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.software-skill-inline-languages:hover::after {
  opacity: 1; /* Show tooltip on hover */
  visibility: visible;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .software-skill-inline-languages {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
