/* Contact Container Grid */
.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}

/* Contact Form and Inputs */
.contact__form {
  display: grid;
  gap: 1.5rem;
  width: 100%;
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact__subtitle {
  font-size: 1rem;
  color: #333;
}

.button--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__icon {
  margin-left: 10px;
  font-size: 1.2rem;
}

/* Responsive Styles for Larger Devices */
@media screen and (min-width: 1024px) {
  /* Remove body margin and adjust container padding for larger screens */
  body {
    margin: 0;
  }

  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .contact__form {
    width: 460px;
  }

  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* Mobile styles */
  .contact__container {
    grid-template-columns: 1fr;
  }

  .contact__inputs {
    grid-template-columns: 1fr;
  }

  .contact__title,
  .contact__subtitle {
    font-size: 1.2rem;
  }
}
